Makefile
Makefile.in
Makefile.in.in
POTFILES
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
intltool-update
libtool
my-configure
depcomp
install-sh
intltool-*.in
ltmain.sh
missing
mkinstalldirs
stamp-*
*.o
