Source: nautilus-share
Section: gnome
Priority: optional
Maintainer: Sebastien ESTIENNE <sebastien.estienne@gmail.com>
Build-Depends: debhelper (>= 4.1.87), autotools-dev, libgnomeui-dev, libnautilus-extension-dev (>= 2.6.1-2), libglade2-dev (>= 2.8.0)
Standards-Version: 3.6.2

Package: nautilus-share
Architecture: any
Depends: ${shlibs:Depends}, gnome-icon-theme (>= 2.9.2), libglade2-0 (>= 2.8.0), samba (>= 3.0), nautilus (>= 2.8.0)
Description: Nautilus extension to share folder using samba
 nautilus-share is a nautilus extension to share folders
  using samba "net usershare"
